@font-face {
  font-family: 'KCCChassam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body {
  padding-top: 10px;
  background-color: black;
  color: white;
}
div{
  display: block;
}
.lovelogo {
  font-family: 'KCCChassam';
  text-align: center;
}
.profile {
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 660px;
  padding: 5px 20px;
}
.mainpic1, .mainpic2{
  margin: 0px;
  padding-top: 0px;
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 50%;
  background-size: cover;
}
.mainpic1 {
  background-image: url("pic/profile1.jpg");
}
.mainpic2 {
  background-image: url("pic/profile2.jpg");
}
.explain {
  padding-left: 25px;
  padding-top: 10px;
}